  <div id="main-map">
    <%= render partial: "restaurants/map", locals: { restaurants: @restaurants } %>
  </div>
    
  <div class="middle">
    <div class="categoly-search-form">
      <%= search_form_for p, url: relationships_searchcategory_path do |f| %>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, {}, {class:"select-box", id:"shop-category"} %>
        <%= f.submit '絞り込み' %>
      <% end %>
    </div>
  </div>
  
  <div id="restaurants">
    <%= render partial: "restaurants/restaurant", locals: { restaurants: @restaurants } %>
  </div>