<div class="sidebar">

    <div class="mypage">
      <h1><%= link_to 'マイページ', root_path %></h1>
    </div>

    <div class="reftaurant-search">      
      <h1>探す</h1>

      <div class="search-from-name">
        <h2>店名から探す</h2>
        <%= form_with(url: search_restaurants_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "店名を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
      </div>

      <div class="search-from-station">
        <h2>駅から探す</h2>
        <div class="station-list">
          <ul>
            <li class="tag">
              <%= link_to '全て', user_relationships_path(current_user.id) %>
              <%= "(" %><%= @restaurants.length %><%= ")" %>
            </li>
            <% @tags.each do |tag| %>
              <li class="tag">
                <div>
                  <%= link_to tag.tag_name, tag_path(tag.id), remote: true %>
                  <%= "(" %><%= tag.restaurants.length %><%= ")" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="user-follow">
      <h1><%= link_to '友達リスト', new_user_relationships_path(current_user.id) %></h1>
      <div class="user-follow-lists">
        <h2>フォロー<%= "(" %><%= current_user.followings.count %><%= ")" %></h2>
        <div class="user-follow-list">
        
        <% if @following_users.exists? %>
          <ul>
            <li class="follow">
              <% @following_users.each do |user| %>
                <%= user.group_name %>
              <% end %>
            </li>
          </ul>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
        </div>
      </div>
      <div class="user-follow-lists">
        <h2>フォロワー<%= "(" %><%= current_user.followers.count %><%= ")" %></h2>
        <div class="user-follow-list">
        <% if @follower_users.exists? %>
          <ul>
            <li class="follow">
              <% @follower_users.each do |user| %>
                <%= user.group_name %>
              <% end %>
            </li>
          </ul>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
        </div>
      </div>
    </div>

</div>


