<div class="wrapper">
  <div class="main-wrapper">
    <div id="sidebar">
      <%= render partial: "relationships/relationships_sidebar", locals: { tags: @tags, restaurants: @restaurant_all } %>
    </div>
    <div id="relationships-main">
     
      <div id="main-map">
        <%= render partial: "restaurants/map", locals: { restaurants: @restaurants } %>
      </div>
    
      <div class="middle">
        <div class="tag-page-name">@<%= @tag.tag_name %></div>
        <div class="categoly-search-form">
          <%= search_form_for @p, url: tag_tags_searchcategory_path(@tag.id) do |f| %>
            <%= f.collection_select :category_id_eq, Category.all, :id, :name, {}, {class:"select-box", id:"shop-category"} %>
            <%= f.submit '絞り込み' %>
          <% end %>
        </div>
      </div>
  
      <div id="restaurants">
        <%= render partial: "restaurants/restaurant", locals: { restaurants: @restaurants } %>
      </div>

    </div>
  </div>
</div>