<header>
  <%= link_to image_tag("header-image.png", class:"title-image"), "#" %>
  <div class="devise">
    <a href="" class="singin">新規登録</a>
    <a href="" class="login">ログイン</a>
  <%#--ログイン状態の場合--%>
    <%#a href="" class="lonin">こんにちは<br>nameさんさん</a--%>
                                        <!--↑ユーザー編集へ-->
    <%#!--a href="" class="lonin">ログアウト</a--%>
  </div>
</header>

<div class="contents row">
  <div class="container">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :group_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>