

<div class="wrapper">
  <div class="container">
  <div class="form">
    <h2>Log in</h2>
    <%= form_with model: @user, url: user_session_path, id: 'login_user', class: 'login_user', local: true do |f| %>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", size: "30" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
  </div>
</div>
