<%# 詳細ページの編集ボタンクリックでedit.js.erbが発動し、この画面が表示される。new.js.erbと比較して食べログから情報入力欄がない %>

<div class="restaurant-registration", id="restaurant-edit">
  <div id="new-back edit-back", class="new-back edit-back">
    <%#= link_to image_tag("batu.png", class: "batu.img", size: '30x30') %>
    <%= link_to "戻る", remote: true %>
  </div>

  <div class="form">
  <%= form_with model: restaurant_form, url: restaurant_path(restaurant.id), method: :patch, remote: true do |f| %>

    <div class="shop-new">
      <div class="weight-bold-text">
        店名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :shop_name, class:"shop-text", id:"shop-name", placeholder:"店名", size: "30" %>  
      <div class="weight-bold-text">
        住所
      </div>
      <%= f.text_area :address, class:"shop-text", id:"address", placeholder:"住所", size: "30" %>
      <div class="weight-bold-text">
        電話番号
      </div>
      <%= f.text_area :phone_number, class:"shop-text", id:"phone_number", placeholder:"電話番号", size: "30" %>
      <div class="weight-bold-text">
        URL
      </div>
      <%= f.text_area :url, class:"shop-text", id:"url", placeholder:"URL", size: "30" %>
      <div class="weight-bold-text">
        駅名
      <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :tag_name, class:"shop-text", id:"tag_text", placeholder:"駅名" %>
      <div class="weight-bold-text">
        カテゴリー
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"shop-prefecture"}) %>
      <div class="img-upload">
        <div class="weight-bold-text">
          商品画像
        </div>
        <div class="click-upload">
          <%= f.file_field :image, id:"item-image" %>
       </div>
      </div>

      <input type="submit" name="commit" value="更新する" class="edit-btn" data-disable-with="登録する">
    </div>
    
  <% end %>
</div>