<div class="map">
  <%#!--# googleマップでクリックしたピンの店情報が出る（店一覧と同じボックスで） --%>
  <div class="google-map">
    <script>
      let map
      function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @performance.latitude %>, lng: <%= @performance.longitude %>},
          zoom: 15,
             zoomControl: false,
             mapTypeControl: false,
             fullscreenControl: false,
             streetViewControl: false,
        });

        marker = new google.maps.Marker({
          position: {lat: <%= @performance.latitude %>, lng: <%= @performance.longitude %>},
          map: map
       });
        geocoder = new google.maps.Geocoder()
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
  </div>
</div>
