<div class="map">
  <!--div class="map", id="map">
    <script>
        let map
        function initMap(){
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.68123620000001, lng:139.7671248},
          zoom: 10,
          zoomControl: false,
          mapTypeControl: false,
          fullscreenControl: false,
          streetViewControl: false,
          });

          <% restaurants.each do |restaurant| %>
          ( function() {
            var marker = new google.maps.Marker({
            position: {lat: <%= restaurant.performance.latitude %>, lng: <%= restaurant.performance.longitude %>},
            map: map
            });

            var infowindow = new google.maps.InfoWindow({
            position: {lat: <%= restaurant.performance.latitude %>, lng: <%= restaurant.performance.longitude %>},
            content: "<a href='<%= restaurant_path(restaurant.id) %>'><%= restaurant.shop_name %></a>"
            });

            marker.addListener("click", function(){
            infowindow.open(map, marker);
            });
          } )();
          <% end %>

          geocoder = new google.maps.Geocoder()
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
  </div-->
</div>