<div class="restaurants">
  <div class="restaurant-list">
    <% restaurants.each do |restaurant| %>
      <div class="restaurant-content">
        <div class="image-area">
          <div class="restaurant-image">
            <% if restaurant.image.attached? %>
              <%= link_to image_tag restaurant.image.variant(resize: '200x300') if restaurant.image.attached? %>
            <% else %>
              <%= link_to image_tag("white.jpg", class: "white-img") %>
            <% end %>
          </div>
          <div class="overlay-restaurant-image">
            <p class="restaurant-name"><%= restaurant.shop_name %></p>
            <p class="restaurant-category"><%= restaurant.category.name %></p> 
          </div>
          <%= link_to image_tag("checkbox.png", class:"restaurant-checkbox"), "#" %>
        </div>
        <div class="info-area">
          <div class="btns">
            <div class="btn">
              <%= link_to image_tag("went.png") %>
              <p class="count">5</p>
            </div>
            <div class="btn">
              <%= link_to image_tag("want-go.png") %>
              <p class="count">3</p>
            </div>
          </div>
          <div class="evaluation">
            <div class="star">星評価</div>
            <div>5</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
