  <div class="restaurant-list">
    <% restaurants.each do |restaurant| %>
      <div class="restaurant-content"> 
        <%# restaurantの画像エリア %>
        <div class="image-area">
          <div class="restaurant-image">
            <% if restaurant.image.attached? %>
              <%= link_to image_tag restaurant.image.variant(combine_options:{gravity: :center, resize:"200x200^", crop:"200x200+0+0"}) %>
            <% else %>
              <%= link_to image_tag("white.jpg", class: "white-img", size: '200x200') %>
            <% end %>
          </div>
          <div class="overlay-restaurant-image">
            <%= link_to restaurant.shop_name, restaurant_path(restaurant.id), class: "restaurant-name" %>
            <p class="restaurant-category"><%= restaurant.category.name %></p> 
          </div>
          <%#= link_to image_tag("checkbox.png", class:"restaurant-checkbox"), "#" %>
        </div>
        <%# restaurantのいいねエリア %>
        <div class="info-area">
          <div class="btns">
            <div class="btn", id="go_button_<%= restaurant.id %>">
              <%= render partial: 'gos/go', locals: {restaurant: restaurant} %>
            </div>
            <div class="btn", id="went_button_<%= restaurant.id %>">
              <%= render partial: 'wents/went', locals: {restaurant: restaurant} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>