<header>
  <%= link_to image_tag("header-image.png", class:"title-image"), root_path %>
  <div class="devise">
    <% if user_signed_in? %>
      <%= link_to "#{current_user.group_name}さん", edit_user_registration_path, class:"user-name" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class:"signin" %>
      <%= link_to "ログイン", new_user_session_path, class:"login" %>
    <% end %>
  </div>
</header>
    
<div class="wrapper">
  <div class="main-wrapper">
    <div class="side-bar">
      <%= link_to "記録する", new_restaurant_path, class:"new" %>
      <div class="tags">
        <div class="find">探す</div>
        <div class="tag-list">
          <div class="tag">全て</div>
          <% @tags.each do |tag| %>
            <div class="tag"><%= tag.tag_name %></div>
          <% end %>
        </div>
      <%#!--タグ一覧表示(タグ名押すとそのタグがついた店がrestaurant-infosで一覧表示)--%>
      </div>
    </div>

  <%#!--ノーマルでは全ての登録店が表示 %>
    <div class="main">
      <div class="map">
        <%#!--# googleマップでクリックしたピンの店情報が出る（店一覧と同じボックスで） --%>
        <div class="google-map"></div>
        <div class="restaurant">
          <%= link_to image_tag("hero.jpg", class:"restaurant-image"), "#" %>
          <p class="restaurant-name">店名</p>
          <p class="restaurant-genre">ジャンル</p> 
          <%= link_to image_tag("checkbox.png", class:"restaurant-checkbox"), "#" %>
          <div class="restaurant-info">
            <div class="btns">
              <div class="btn">
                <%= link_to image_tag("went.png", class:"went"), "#" %>
                <p class="count">5</p>
              </div>
              <div class="btn">
                <%= link_to image_tag("want-go.png", class:"want-go"), "#" %>
                <p class="count">3</p>
              </div>
            </div>
            <div class="evaluation">
              <div class="star">星評価</div>
              <a href="#" class="comment">コメント</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="upper">
        <div class="search">
          <input type="search" name="search" placeholder="店名を入力">
          <input type="submit" name="submit" value="検索">
        </div>
        <div class="genre">
          <select name="genre">
            <option>選択肢のサンプル1</option>
            <option>選択肢のサンプル2</option>
            <option>選択肢のサンプル3</option>
          </select>
        </div>
        <div class="links">
          <a href="" class="line">Line</a>
          <a href="" class="tabelog">食べログ</a>
          <a href="" class="delete">削除</a>
        </div>
      </div>
              
      <%#!--# 登録店一覧表示、タグが押されたとき、全てが押されたときで条件分け --%>
      <div class="restaurants">
        <div class="restaurant-lists">
        <% @restaurants.each do |restaurant| %>
          <div class="restaurant">
            <%= link_to image_tag("hero.jpg", class:"restaurant-image"), "#" %>
            <p class="restaurant-name"><%= restaurant.shop_name %></p>
            <p class="restaurant-genre"><%= restaurant.category.name %></p> 
            <%= link_to image_tag("checkbox.png", class:"restaurant-checkbox"), "#" %>
            <div class="restaurant-info">
              <div class="btns">
                <div class="btn">
                  <%= link_to image_tag("went.png", class:"went"), "#" %>
                  <p class="count">5</p>
                </div>
                <div class="btn">
                  <%= link_to image_tag("want-go.png", class:"want-go"), "#" %>
                  <p class="count">3</p>
                </div>
              </div>
              <div class="evaluation">
                <div class="star">星評価</div>
                <a href="#" class="comment">コメント</a>
              </div>
            </div>
          </div>
        <% end %>
              
        </div>
      </div>
    </div>
  </div>
</div>


