<div class="wrapper">
  <div class="main-wrapper">
    <div class="side-bar">
      <%= link_to "記録する", new_restaurant_path, class:"new" %>
      <div class="tags">
        <div class="find">探す</div>
        <div class="tag-list">
          <div class="tag"><%= link_to '全て', root_path, class:"all_restaurant" %></div>
          <% @tags.each do |tag| %>
            <div class="tag"><%= link_to tag.tag_name, tag_path(tag.id), class:"tag_restaurant" %></div>
          <% end %>
        </div>
      <%#!--タグ一覧表示(タグ名押すとそのタグがついた店がrestaurant-infosで一覧表示)--%>
      </div>
    </div>

  <%#!--ノーマルでは全ての登録店が表示 %>
    <div class="main">
      <div class="map">
        <%#!--# googleマップでクリックしたピンの店情報が出る（店一覧と同じボックスで） --%>
        <div class="google-map"></div>
        <div class="restaurant">
          <%= link_to image_tag("hero.jpg", class:"restaurant-image"), "#" %>
          <p class="restaurant-name">店名</p>
          <p class="restaurant-genre">ジャンル</p> 
          <%= link_to image_tag("checkbox.png", class:"restaurant-checkbox"), "#" %>
          <div class="restaurant-info">
            <div class="btns">
              <div class="btn">
                <%= link_to image_tag("went.png", class:"went"), "#" %>
                <p class="count">5</p>
              </div>
              <div class="btn">
                <%= link_to image_tag("want-go.png", class:"want-go"), "#" %>
                <p class="count">3</p>
              </div>
            </div>
            <div class="evaluation">
              <div class="star">星評価</div>
              <a href="#" class="comment">コメント</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="upper">
        <%= form_with(url: search_restaurants_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
        <div class="genre">
          <%= search_form_for @p, url: restaurants_searchcategory_path do |f| %>
            <%= f.collection_select :category_id_eq, Category.all, :id, :name, {}, {class:"select-box", id:"shop-category"} %>
            <%= f.submit '検索' %>
          <% end %>
        </div>
        <div class="links">
          <a href="" class="line">Line</a>
        </div>
      </div>
              
      <div class="restaurants">
        <div class="restaurant-lists">
        <% @restaurants.each do |restaurant| %>
          <div class="restaurant">
            <%= link_to image_tag("hero.jpg", class:"restaurant-image"), "#" %>
            <p class="restaurant-name"><%= restaurant.shop_name %></p>
            <p class="restaurant-genre"><%= restaurant.category.name %></p> 
            <%= link_to image_tag("checkbox.png", class:"restaurant-checkbox"), "#" %>
            <div class="restaurant-info">
              <div class="btns">
                <div class="btn">
                  <%= link_to image_tag("went.png", class:"went"), "#" %>
                  <p class="count">5</p>
                </div>
                <div class="btn">
                  <%= link_to image_tag("want-go.png", class:"want-go"), "#" %>
                  <p class="count">3</p>
                </div>
              </div>
              <div class="evaluation">
                <div class="star">星評価</div>
                <%= link_to 'edit', edit_restaurant_path(restaurant.id), class: "edit" %>
                <%= link_to 'destroy', restaurant_path(restaurant.id), method: :delete, class: "edit" %>
                <a href="#" class="comment">コメント</a>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


