<div class="wrapper">
  <div class="main-wrapper">
    <%= render partial: "sidebar", locals: { tags: @tags } %>
    <div class="main">

      <%= render partial: "map" %>
    
      <div class="upper">
        <div class="genre">
          <%= search_form_for @p, url: restaurants_searchcategory_path do |f| %>
            <%= f.collection_select :category_id_eq, Category.all, :id, :name, {}, {class:"select-box", id:"shop-category"} %>
            <%= f.submit '検索' %>
          <% end %>
        </div>
        <div class="links">
          <a href="" class="line">Line</a>
        </div>
      </div>
              
      <%= render partial: "restaurant", locals: { restaurants: @restaurants } %>

    </div>
  </div>
</div>

