<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp38253</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <%= link_to image_tag("header-image.png", class:"title-image"), root_path %>
  <div class="devise">
    <% if user_signed_in? %>
      <%= link_to "#{current_user.group_name}さん", edit_user_registration_path, class:"user-name" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class:"signin" %>
      <%= link_to "ログイン", new_user_session_path, class:"login" %>
    <% end %>
  </div>
</header>
    <%= yield %>
  </body>
</html>
